.footer {
  border: 3px solid #f4d3bb;
  border-radius: 5px;

  position: relative;
  
  max-width: 1200px;
  min-height: 140px;
  margin: 100px auto 40px;
  padding: 10px 130px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include fonts-style ("Roboto", normal, 22px, normal, 28px, black);

  &:before {
    content: "";
    position: absolute;
    top: -50px;

    width: 165px;
    height: 60px;
    background: url(../../images/footer/logo00.svg) white no-repeat center;
  }
}

@media only screen and (max-width: 725px) {

  .footer {
    padding: 10px;
  }
}
